body {
    background-color: rgba(143, 161, 241, 0.197);
}

.container {
    margin: 40px auto;
    width: 600px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(143, 161, 241, 0.208);
    border-radius: 15px;
}

.block-input {
    margin-bottom: 20px;
    display: flex;
}
.input {
    font-size: 22px;
    margin-right: 5px;
    padding: 12px 12px;
    border-radius: 10px;
    width: 262px;
}

.input:focus {
    box-shadow: 3px 4px 13px 5px rgb(59, 93, 80, 0.4);
    outline: 1px solid green;
}

.button {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease 0s;
    font-size: 18px;
    cursor: pointer;
}
.button:hover {
    background-color: rgb(42, 77, 232);
    transition: all 0.3s ease 0s;
}

.items-list {
    display: flex;
    min-width: 300px;
    flex-direction: column;
    gap: 15px;
}

.items-list p {
    width: 100%;
}
.tab {
    display: flex;
    gap: 25px;
    margin-bottom: 20px;
}
.tab-button {
    padding: 10px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.521);
    transition: all 0.3s ease 0s;
}
.tab-button:hover {
    background-color: rgba(143, 161, 241, 0.981);
    transition: all 0.3s ease 0s;
}

.tab-button-delete {
    padding: 10px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.237);
    transition: all 0.3s ease 0s;
}
.tab-button-delete:hover {
    background-color: rgb(255, 0, 0);
}
.activ-tab {
    background-color: rgb(42, 77, 232);
    padding: 10px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}

.word {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgba(143, 161, 241, 0.762);
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
}

.checkbox {
    margin-right: 25px;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    padding-left: 70px;
    transition: all 0.3s ease 0s;
}

.checkbox::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -5px;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
}

.checkbox.non-checked-checkbox::before {
    background-color: #fff;
    box-shadow: 0 0 3px rgb(217, 212, 212);
}

.checkbox.checked-checkbox::before {
    background-color: rgb(87, 245, 87);
}

.checkbox.non-checked-checkbox::after {
    content: "";
    position: absolute;
    top: 0px;
    left: -2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(42, 77, 232);
    box-shadow: 0 0 3px rgb(42, 77, 232);
    transition: all 0.3s ease 0s;
}

.checkbox.checked-checkbox::after {
    background-color: rgb(1, 84, 1);
    left: 23px;
    content: "";
    position: absolute;
    top: 0px;
    transition: all 0.3s ease 0s;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/* input[type="checkbox"].checkbox {
    display: none;
} */
